<div style="height: auto; width:100%;">

    <div style="height: 100%; width: 20%;background-color: rgb(206, 224, 243);float: left;">
   
     <img src="assets\alogo.png" alt="not found">
    </div>
    <div style="height: 100%; width: 60%;float: left;">
       
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
        <!-- <section class="carousel" aria-label="Gallery">
          <ol class="carousel__viewport">
            <li id="carousel__slide1"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper">
                <a href="#carousel__slide4"
                   class="carousel__prev">Go to last slide</a>
                <a href="#carousel__slide2"
                   class="carousel__next">Go to next slide</a>
              </div>
            </li>
            <li id="carousel__slide2"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide1"
                 class="carousel__prev">Go to previous slide</a>
              <a href="#carousel__slide3"
                 class="carousel__next">Go to next slide</a>
            </li>
            <li id="carousel__slide3"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide2"
                 class="carousel__prev">Go to previous slide</a>
              <a href="#carousel__slide4"
                 class="carousel__next">Go to next slide</a>
            </li>
            <li id="carousel__slide4"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide3"
                 class="carousel__prev">Go to previous slide</a>
              <a href="#carousel__slide1"
                 class="carousel__next">Go to first slide</a>
            </li>
          </ol>
          <aside class="carousel__navigation">
            <ol class="carousel__navigation-list">
              <li class="carousel__navigation-item">
                <a href="#carousel__slide1"
                   class="carousel__navigation-button"> <img src="assets\carLoan.jpg" alt="not found"></a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide2"
                   class="carousel__navigation-button">Go to slide 2</a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide3"
                   class="carousel__navigation-button">Go to slide 3</a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide4"
                   class="carousel__navigation-button">Go to slide 4</a>
              </li>
            </ol>
          </aside>
        </section>
     -->
    </div>
    <div style="height: 100%; width: 20%;background-color: rgb(192, 207, 236);float: left;">
        <img src="assets\alogo.png" alt="not found">
    
    </div>
</div>
